if status is-interactive
    # disable fish greeting
    set fish_greeting

    if not command -q starship
    	echo "starship not found, installing..."
    	curl -sS https://starship.rs/install.sh | sh
    	starship preset pure-preset -o ~/.config/starship.toml
    end

    starship init fish | source

    set -gx EDITOR vim
    if not command -q nvim
       echo "WARNING: neovim not found, setting VIM as default editor."
       echo "Upon installation Neovim will become default editor and alias vim"
    else
       # inherit terminal color scheme
       alias vim "nvim -c 'set notermguicolors'"
    end



    fish_add_path $HOME/.cargo/bin
    fish_add_path $HOME/.emacs.d/bin
    fish_add_path $HOME/.npm-global/bin
    fish_add_path $HOME/.local/bin
    fish_add_path $HOME/bin

    # jj completions
    set -l jj_completion $HOME/.config/fish/completions/jj.fish
    if command -q jj; and not test -f $jj_completion
        jj util completion fish > $jj_completion
    end
end
